<p id="notice"><%= notice %></p>

<div class="one_product_page">

  <p>
    <% if (@product.image_url != nil) %>
      <%= image_tag(@product.image_url, class: 'list_image') %>
    <% end %>
  </p>

  <p>
    <h2>
      <%= @product.title %>
    </h2>
  </p>

  <p>
    <strong>Description:</strong>
    <%= strip_tags(@product.description) %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @product.prod_type %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@product.price) %>
  </p>

  <%= button_to 'Add to Cart', line_items_path(product_id: @product), remote: true %>

</div>
